* {
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	border: 3px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-gap: 6px;
	grid-template-rows: 300px;
	background-color: lightblue;
}


.Box {
	/*border: 1px solid blue;*/
/*	background-color: silver;*/
	position: relative;

}


.profilepic {
	/*background-color: none;
*/	background-image: url("profilepic.jpeg");
	background-size: 200px;
	background-repeat: no-repeat;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
/*	border: 2px solid black;*/
	width: 70%;
	margin-left: 10%;

}

.cell {
	/*background-color: none;*/
	background-image: url("cell.jpeg");
	background-size: 200px;
	background-repeat: no-repeat;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	/*border: 2px solid black;*/
	width: 70%;
	margin-left: 30px;

}



h1 {
	position: relative;
	top: 140px;
	right: 200px;
	margin-left: 100px;
	padding-top: 50px;
	text-align: center;
	font-size: 30px;


}

h2 {
	position: relative;
	bottom: 40px;
	text-decoration-line: underline;
	margin-left: 100px;
	margin-top:40px;
}

h3 {
	font-size: 24px;
	text-decoration-line: underline;
	padding-bottom: 20px;
}

h4 {
	position: relative;
	top: 155px;
	right: 200px;
	margin-left: 100px;
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
	text-decoration-line: underline;
	word-wrap: break-word;

}


h5 {
	position: relative;
	top: 140px;
	right: 200px;
	margin-left: 60px;
	padding-top: 50px;
	text-align: center;
	font-size: 50px;
}

.nav {
	position: relative;
	/*top: 0; 
	right:0;*/
	font-size: 20px; 
}

.toolbar {
	position: relative;
	top:100px;
	/*padding-bottom: 50px;*/
/*	border: 2px solid black;*/
	/*background-color: lightgrey;*/
	
}

.present {
	position: relative;
	margin-left: 85px;
	margin-right: 20px;
	/*text-decoration-line: underline;*/

}	

.fprojects {
	position: relative;
	margin-right: 30px;
	/*text-decoration-line: underline;*/
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
} 

 
.nav a {
	margin: 20px 0px 20px 50px;
	text-decoration: underline;
	color: blue;
	padding-right: 20px;
	font-size: 25px;
	border-radius: 5px lightblue;

}

.column {
	float: left;
	width: 90%;
	padding: 10px;
	/*border: 2px solid blue;*/
	position: relative;
	margin-bottom: 50px;
}


.first {
	margin-bottom: 20px;
}

.column2 {
	float: right;
	margin-top: 0px;
	margin-left: 10px;
	/*border: 2px solid blue;*/
	width: 90%;
	padding: 10px;
}

li {
	/*border: 1px solid red;*/    
	display: block;
	font-style: bold;

}

.fbackground {
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
}

.skills {
	margin-bottom: 15px;
	margin-top: 5px;
	padding-top: 5px;
}

.Autism {
/*	background-color: none;*/
	background-image: url("autism.jpeg");
	background-size: 200px;
	background-repeat: no-repeat;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.EFEC {
	background-image: url("efec.jpeg");
	background-size: 300px;
	background-repeat: no-repeat;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 200px;

}

.MSL {
	background-image: url("MSL.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
	width: 200px;
}
	
.allcontact {
	position: relative;
	/*border: 2px solid black;*/
	width: 400px;
	height: 200px;
	font-style: italic;
	font-size: 1.5em;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;

}






@media all and (max-width: 480px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
	
	body {

	}
}

@media all and (min-width: 481px) and (max-width: 768px) {
	.wrapper {
		
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	
}
	body {

	}
}

@media all and (min-width: 769px) and (max-width: 992) {
	.wrapper {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
	
	
	body {

	}
}